<script lang="ts">
import Vue from "vue";
import SlpCustomDropdown from "./CustomDropdown.vue";
import SlpCard from "../Card/Card.vue";

export default Vue.extend({
  name: "SlpCustomDropdownTest",
  components: {
    SlpCustomDropdown,
    SlpCard,
  },
  data() {
    return {
      show: "Option 1",
      selection: "Option 2",
    };
  },
  methods: {
    resolveEvent(event: any) {
      this.show = event;
    },
  },
});
</script>

<template>
  <div>
    <SlpCustomDropdown
      name="filter"
      @filter="resolveEvent"
      v-model="selection"
    ></SlpCustomDropdown>
    <SlpCard v-show="show === 'Option 1'">1</SlpCard>
    <SlpCard v-show="show === 'Option 2'">2</SlpCard>
    <SlpCard v-show="show === 'Option 3'">3</SlpCard>
    <SlpCard>Model: {{ selection }}</SlpCard>
  </div>
</template>
