<script lang="ts">
import Vue from "vue";
import { PropType } from "vue";

export default Vue.extend({
  name: "SlpDropdown",
  data() {
    return {
      selected: this.value,
    };
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    options: {
      type: Array as PropType<Array<string>>,
      required: false,
      default: () => ["Option 1", "Option 2", "Option 3"],
    },
    // Value is set when using v-model in the parent component
    value: {
      type: String,
    },
    dropdownLabel: {
      type: String,
    },
  },
  watch: {
    value(newValue) {
      this.selected = newValue;
    },
  },
});
</script>

<template>
  <div class="dropdown">
    <select
      :aria-label="dropdownLabel || `${name} dropdown`"
      class="dropdown__select"
      :name="name"
      @change="$emit(name, $event.target.value)"
      @input="$emit('input', $event.target.value)"
      v-model="selected"
    >
      <option v-for="option in options" :key="option" :value="option">
        {{ option }}
      </option>
    </select>
  </div>
</template>

<style lang="scss" scoped>
.dropdown {

  position: relative;

  &__select {
    padding: 14px 12px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    appearance: none;
    background: transparent;
  }

  &:after {
    content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2929 0.292894C10.6834 -0.0976306 11.3166 -0.0976306 11.7071 0.292894C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292894 1.70711C-0.0976312 1.31658 -0.0976312 0.683417 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579L10.2929 0.292894Z' fill='%23333333'/%3E%3C/svg%3E");
    top: calc(50% - 14px);
    right: 28px;
    position: absolute;
    pointer-events: none;
  }
}
</style>
