<script lang="js">
import SlpIcon from "../Icon/Icon.vue";
import { throttle } from "../../utils/utils";
export default {
  name: "SlpTopButton",
  components: { SlpIcon },
  data() {
    return {
      show: false,
    };
  },
  methods: {
    triggerScroll() {
      if (window)
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
    },
    handleScroll() {
      this.show = window.scrollY > window.innerHeight;
    },
  },
  mounted() {
    this.throttled = throttle(this.handleScroll, 100);
    window.addEventListener("scroll", this.throttled);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.throttled);
  },
};
</script>

<template>
  <button
    v-show="show"
    v-bind="$attrs"
    class="slp-top-btn"
    @click="triggerScroll()"
  >
    <div>
      <SlpIcon name="chevron-lg-up" size="" variant="product" />
    </div>
    <div>To top</div>
  </button>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";
$button-height: calc(16px + ($border-width * 2));
$min-button-width: calc(66px + ($border-width * 2));

.#{$prefix}-top-btn {
  font-family: "Inter", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-8;
  border-radius: $border-radius-4;
  font-size: $text-button-2;
  line-height: $line-height-button-1;
  transition: 200ms ease-in-out all;
  background-color: $color-surface-900;
  border: none;
  cursor: pointer;
  height: 115px;

  position: fixed;
  bottom: calc(50vh - 58px);
  right: 1rem;

  &:hover {
    background-color: $color-surface-950;
  }
}
</style>
