<script lang="ts">
import Vue from "vue";
import AnchorDropdown from "./AnchorDropdown.vue";
import Tree from "./Tree.vue";
import SlpTypography from "../../components/Typography/Typography.vue";

export default Vue.extend({
  name: "SlpSideNavigation",
  components: {
    AnchorDropdown,
    SlpTypography,
    Tree,
  },
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      pathToNode: [],
      treeData: this.data.anchors.data.map((anchor: any) => ({
        text: anchor.text,
        href: anchor.href,
      })),
      isMobile: false,
    };
  },
  mounted() {
    this.detectMobile();
    window.addEventListener("resize", this.detectMobile);

    window.addEventListener("load", () => {
      // Update navigation when the user scrolls into a new section
      const bottomObserverMargin = (window.innerHeight - 120 - 48) * -1;
      const intersectionObserver = new IntersectionObserver(
        this.updateTreeData,
        {
          rootMargin: `-120px 0px ${bottomObserverMargin}px 0px`,
          threshold: 0,
        }
      );

      // Get all the page anchors and attach an observer to each
      const anchorLinks = this.getAllAnchorLinks(this.data.anchors.data, []);
      anchorLinks.forEach((section: any) => {
        intersectionObserver.observe(document.querySelector(section));
      });
    });
  },
  methods: {
    getAllAnchorLinks(anchors: any, anchorLinks: any) {
      anchors.forEach((anchor: any) => {
        anchorLinks.push(anchor.href);
        if (Object.prototype.hasOwnProperty.call(anchor, "nodes")) {
          this.getAllAnchorLinks(anchor.nodes, anchorLinks);
        }
      });
      return anchorLinks;
    },
    updateTreeData(entries: any) {
      entries.forEach((entry: any) => {
        if (entry.isIntersecting) {
          this.pathToNode = this.getPathToNode(`#${entry.target.id}`);
          this.treeData = this.replaceTree();
        }
      });
    },
    getPathToNode(anchorId: any) {
      const path: any[] = [];

      const searchTree = (nodes: any) => {
        return nodes.some((node: any, index: any) => {
          path.push(index);

          if (node.href === anchorId) {
            return true;
          }

          if (Object.prototype.hasOwnProperty.call(node, "nodes")) {
            if (searchTree(node.nodes)) {
              return true;
            }
          }

          path.pop();
          return false;
        });
      };

      searchTree(this.data.anchors.data);
      return path;
    },
    replaceTree() {
      let depth = 0;

      type Node = {
        text?: string;
        href?: string;
        nodes?: any;
        isSelected?: boolean;
        data_ga_name?: string;
        data_ga_location?: string;
      };

      const addNode = (node: any, index: any) => {
        const { text, href, data_ga_name, data_ga_location } = node;
        const newNode: Node = { text, href, data_ga_name, data_ga_location };

        if (this.pathToNode[depth] === index) {
          if (Object.prototype.hasOwnProperty.call(node, "nodes")) {
            depth += 1;
            newNode.nodes = node.nodes.map((tempNode: any, tempIndex: any) =>
              addNode(tempNode, tempIndex)
            );
            depth -= 1;
          }

          if (depth + 1 === this.pathToNode.length) {
            newNode.isSelected = true;
          }
        }
        return newNode;
      };
      return this.data.anchors.data.map((node: any, index: any) =>
        addNode(node, index)
      );
    },
    detectMobile() {
      this.isMobile = window.innerWidth < 768;
    },
  },
});
</script>

<template>
  <div>
    <div v-if="isMobile">
      <AnchorDropdown :data="data" />
      <slot />
    </div>
    <div v-else id="collapsible-sidebar-wrapper">
      <div id="collapsible-sidebar-content">
        <slot />
      </div>
      <section id="collapsible-sidebar">
        <slot name="header" />
        <div class="anchors">
          <SlpTypography
            v-show="data.anchors.text"
            tag="div"
            variant="all-caps"
            class="nav-heading"
            >{{ data.anchors.text }}</SlpTypography
          >
          <Tree :nodes="treeData" />
        </div>
        <slot name="footer" />
      </section>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";
#collapsible-sidebar-wrapper {
  display: flex;

  #collapsible-sidebar {
    min-width: 300px;
    position: sticky;
    padding: $spacing-32;
    top: 128px;
    align-self: flex-start;
    overflow-y: scroll;
    max-height: calc(100vh - $spacing-96);
    height: 100%;

    .nav-heading {
      font-size: 12px;
      margin-bottom: $spacing-8;
    }

    .anchors {
      margin-bottom: $spacing-32;
    }
  }
}

.mobile {
  @media (min-width: $breakpoint-md) {
    display: none !important;
  }
}

.desktop {
  @media (max-width: $breakpoint-md) {
    display: none !important;
  }
}
</style>
