<template>
  <div :class="className">
    <slot></slot>
  </div>
</template>

<script lang="ts">
export default {
  name: "SlpColumn",
  props: {
    cols: {
      type: Number,
      required: false,
      default: null,
    },
    size: {
      type: String,
      required: false,
      default: "md",
    },
  },
  computed: {
    className(): string {
      if (this.cols) {
        return `slp-col-${this.size}-${this.cols}`;
      }
      return `slp-col-${this.size}`;
    },
  },
};
</script>

<style lang="scss" scoped>
@use "sass:math";
@import "src/styles/_variables";

@for $cols from 1 to $max-columns {
  @each $name, $size in $breakpoints {
    @media (max-width: $size) {
      .#{$prefix}-col-#{$name},
      .#{$prefix}-col-#{$name}-#{$cols} {
        width: inherit;
        max-width: 100%;
      }
    }
    @media (min-width: $size) {
      .#{$prefix}-col-#{$name}-#{$cols} {
        position: relative;
        width: 100%;
        min-height: 1px;
        flex: 0 0 percentage(math.div($cols, $max-columns));
        max-width: percentage(math.div($cols, $max-columns));
      }

      .#{$prefix}-col-#{$name} {
        flex-basis: 0;
        flex-grow: 1;
        position: relative;
        width: 100%;
        min-height: 1px;
        max-width: 100%;
      }
    }
  }
}
</style>
