<template>
  <SlpContainer
    class="slp-radio-group"
    :class="{
      'slp-radio-group--vertical': orientation === ORIENTATION.VERTICAL,
      'slp-radio-group--horizontal': orientation === ORIENTATION.HORIZONTAL,
    }"
  >
    <SlpRadio
      :for="option"
      v-for="option in options"
      :key="option"
      :option="option"
      :name="name"
      :checked="option === value"
      @input="inputEventHandler"
    />
  </SlpContainer>
</template>

<script lang="ts">
import SlpContainer from "../Container/Container.vue";
import SlpRadio from "../Radio/Radio.vue";

const ORIENTATION = Object.freeze({
  VERTICAL: "vertical",
  HORIZONTAL: "horizontal",
});

/* eslint-disable */
// Did this to get the build out, need to properly fix these warnings.
export default {
  name: "SlpRadioGroup",
  components: { SlpRadio, SlpContainer },
  data() {
    return {
      ORIENTATION,
    };
  },
  props: {
    options: {
      required: true,
      type: Array,
    },
    orientation: {
      type: String,
      default: ORIENTATION.VERTICAL,
      in: [ORIENTATION.HORIZONTAL, ORIENTATION.VERTICAL],
    },
    name: {
      type: String,
      required: true,
    },
    value: {
      type: String,
    },
  },
  methods: {
    inputEventHandler(value: any) {
      this.$emit("input", value);
    },
  },
};
</script>

<style scoped lang="scss">
@import "src/styles/_variables";

.slp-radio-group {
  display: flex;
  flex-wrap: wrap;

  &--horizontal {
    flex-direction: row;

    .slp-radio {
      &:not(last-child) {
        margin-right: $spacing-24;
        padding-left: $spacing-24;
      }
    }

    .slp-radio__option {
      flex-basis: 30%;
    }
  }

  &--vertical {
    flex-direction: column;
  }
}
</style>
