@import "variables";

html {
  scroll-behavior: smooth;
}

body {
  color: $color-text-300;
  margin: 0;
  font-family: "Inter", "sans-serif";
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  line-height: $line-height-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a:not(.slp-btn) {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

// Removes the default spacing and border for appropriate elements.
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
ul,
li,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @each $property, $shortcut in $spacing-shortcuts {
    @each $name, $value in $spacing {
      // All directions
      .#{$prefix}-#{$shortcut}-#{$name} {
        #{$property}: $value;
      }

      .#{$prefix}-#{$shortcut}-#{$breakpoint-name}-#{$name} {
        @media (min-width: $breakpoint-value) {
          #{$property}: $value !important;
        }
      }

      // Cardinal directions
      @each $direction, $directional-shortcut in $spacing-directions {
        .#{$prefix}-#{$shortcut}#{$directional-shortcut}-#{$name} {
          #{$property}-#{$direction}: $value;
        }

        .#{$prefix}-#{$shortcut}#{$directional-shortcut}-#{$breakpoint-name}-#{$name} {
          @media (min-width: $breakpoint-value) {
            #{$property}-#{$direction}: $value !important;
          }
        }
      }

      // Horizontal axis
      @if $spacing-horizontal != null {
        .#{$prefix}-#{$shortcut}#{$spacing-horizontal}-#{$name} {
          #{$property}-left: $value;
          #{$property}-right: $value;
        }

        .#{$prefix}-#{$shortcut}#{$spacing-horizontal}-#{$breakpoint-name}-#{$name} {
          @media (min-width: $breakpoint-value) {
            #{$property}-left: $value !important;
            #{$property}-right: $value !important;
          }
        }
      }

      // Vertical axis
      @if $spacing-vertical != null {
        .#{$prefix}-#{$shortcut}#{$spacing-vertical}-#{$name} {
          #{$property}-top: $value;
          #{$property}-bottom: $value;
        }

        .#{$prefix}-#{$shortcut}#{$spacing-vertical}-#{$breakpoint-name}-#{$name} {
          @media (min-width: $breakpoint-value) {
            #{$property}-top: $value !important;
            #{$property}-bottom: $value !important;
          }
        }
      }
    }
  }
}

// Colors
@each $color, $value in $color-list {
  .#{$prefix}-color-#{$color} {
    color: $value;
  }
  .#{$prefix}-bg-#{$color} {
    background-color: $value;
  }
}

.#{$prefix}-flex {
  display: flex;
}

.#{$prefix}-flex-column {
  flex-direction: column;
}

.#{$prefix}-flex-row {
  flex-direction: row;
}

.#{$prefix}-justify-content-center {
  justify-content: center;
}

.#{$prefix}-justify-content-between {
  justify-content: space-between;
}

.#{$prefix}-align-items-center {
  align-items: center;
}

.#{$prefix}-text-align-center {
  text-align: center;
}
