@import "variables";
@import "fonts";

html {
  scroll-padding-top: 120px;
}

body {
  color: $color-text-300 !important;
  font-family: "Inter", "sans-serif" !important;
  font-size: $font-size-default;
  font-weight: $font-weight-normal !important;
  line-height: $line-height-default !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

// SPACE
.slp-storybook-spacing-table {
  width: 100%;
}

tr {
  background-color: white !important;
}

.slp-storybook-spacing-4 {
  width: $spacing-4;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-8 {
  width: $spacing-8;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-16 {
  width: $spacing-16;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-24 {
  width: $spacing-24;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-32 {
  width: $spacing-32;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-48 {
  width: $spacing-48;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-64 {
  width: $spacing-64;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-96 {
  width: $spacing-96;
  height: 20px;
  background-color: $color-primary-200;
}

.slp-storybook-spacing-160 {
  width: $spacing-160;
  height: 20px;
  background-color: $color-primary-200;
}

// COLOR
.slp-storybook-color-table {
  width: 100%;

  tr {
    td:nth-child(1) {
      width: 64px;
    }

    td:nth-child(3) {
      width: 56px;
    }
  }
}

.slp-storybook-color {
  width: 56px;
  height: 56px;
}

// Primary
.slp-storybook-color-primary-100 {
  background-color: $color-primary-100;
}

.slp-storybook-color-primary-200 {
  background-color: $color-primary-200;
}

.slp-storybook-color-primary-300 {
  border: 1px solid $color-surface-300;
  background-color: $color-primary-300;
}

// Secondary
.slp-storybook-color-secondary-100 {
  background-color: $color-secondary-100;
}

.slp-storybook-color-secondary-200 {
  border: 1px solid $color-surface-300;
  background-color: $color-secondary-200
}

.slp-storybook-color-secondary-300 {
  background-color: $color-secondary-300;
}

// Surface
.slp-storybook-color-surface-50 {
  border: 1px solid $color-surface-300;
  background-color: $color-surface-50;
}

.slp-storybook-color-surface-100 {
  border: 1px solid $color-surface-300;
  background-color: $color-surface-100;
}

.slp-storybook-color-surface-200 {
  border: 1px solid $color-surface-300;
  background-color: $color-surface-200;
}

.slp-storybook-color-surface-300 {
  background-color: $color-surface-300;
}

.slp-storybook-color-surface-400 {
  background-color: $color-surface-400;
}

.slp-storybook-color-surface-500 {
  background-color: $color-surface-500;
}

.slp-storybook-color-surface-600 {
  background-color: $color-surface-600;
}

.slp-storybook-color-surface-700 {
  background-color: $color-surface-600;
}

.slp-storybook-color-surface-800 {
  background-color: $color-surface-800;
}

.slp-storybook-color-surface-900 {
  background-color: $color-surface-900;
}

.slp-storybook-color-surface-950 {
  background-color: $color-surface-950;
}
// Text
.slp-storybook-color-text-50 {
  border: 1px solid $color-surface-300;
  background-color: $color-text-50;
}

.slp-storybook-color-text-100 {
  background-color: $color-text-100;
}

.slp-storybook-color-text-200 {
  background-color: $color-text-200;
}

.slp-storybook-color-text-300 {
  background-color: $color-text-300;
}

.slp-storybook-color-text-link-100 {
  background-color: $color-text-link-100;
}

// Alert
.slp-storybook-color-alert-100 {
  background-color: $color-alert-100;
}

.slp-storybook-color-alert-200 {
  background-color: $color-alert-200;
}

.slp-storybook-color-alert-300 {
  background-color: $color-alert-300;
}

// Warning
.slp-storybook-color-warning-100 {
  background-color: $color-warning-100;
}

.slp-storybook-color-warning-200 {
  background-color: $color-warning-200;
}

.slp-storybook-color-warning-300 {
  background-color: $color-warning-300;
}

// Success
.slp-storybook-color-success-100 {
  background-color: $color-success-100;
}

.slp-storybook-color-success-200 {
  background-color: $color-success-200;
}

.slp-storybook-color-success-300 {
  background-color: $color-success-300;
}

// Info
.slp-storybook-color-info-100 {
  background-color: $color-info-100;
}

.slp-storybook-color-info-200 {
  background-color: $color-info-200;
}

.slp-storybook-color-info-300 {
  background-color: $color-info-300;
}

// Accents
.slp-storybook-color-accent-100 {
  background-color: $color-accent-100;
}

.slp-storybook-color-accent-200 {
  background-color: $color-accent-200;
}

.slp-storybook-color-accent-300 {
  background-color: $color-accent-300;
}

.slp-storybook-color-accent-400 {
  background-color: $color-accent-400;
}

.slp-storybook-color-accent-500 {
  background-color: $color-accent-500;
}

.slp-storybook-card-example {
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slp-storybook-icon-gallery {
  width: 100%;

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__icon-card {
    display: flex;
    flex-direction: column;
    box-shadow: $color-surface-200 5px 5px 15px;
    border: 1px solid $color-surface-200;
    border-radius: 10px;
    margin: $spacing-16;
    padding: $spacing-16
  }

  &__icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    max-width: 20rem;
    appearance: none;
    border: 1px solid $color-surface-500;
    border-radius: 4px;
    padding: $spacing-8 $spacing-16;
    transition: box-shadow 0.5s ease-in-out;
    line-height: normal;
    font-size: $text-body-1;
    vertical-align: center;

    &:active,
    &:focus,
    &:focus-visible {
      outline: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

.slp-storybook-components-overview {
  width: 100%;

  header{
    h1{
      font-size: $text-heading-3;
      line-height: $line-height-heading-3;
    }
  }
  
  &__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  
  &__component-card {
    display: flex;
    padding: $spacing-32 $spacing-24;
    box-sizing: border-box;
    flex-direction: column;
    border: 1px solid $color-surface-200;
    border-radius: $border-radius-4;
    text-decoration: none;
    color: $color-text-300;
    transition: all .3s ease-in;
    min-height: 250px; 
    height: 100%;

    h2{
      margin-bottom: $spacing-24;
    }

    &:hover {
      box-shadow: $shadow-surface-primary-3;
    }
  }  

  &__component-column{
    box-sizing: border-box;
    margin: $spacing-16;
    flex: 1;
    flex-basis: 30% !important;
  }

}

.side-navigation-story {
  h1 {
    margin-top: $spacing-96;
    margin-bottom: $spacing-16;
  }

  h2 {
    margin-top: $spacing-48;
    margin-bottom: $spacing-16;
  }
  margin-bottom: 500px;
}

#contact-us {
  margin-top: calc(128px + $spacing-48);
}

.placeholder-nav {
  position: sticky;
  height: 120px;
  background-color: lightgrey;
  top: 0;
  left: 0;
  right: 0; 
}

.intersection-observer {
  position: fixed;
  height: 8px;
  background-color: rgba(255, 0, 242, 0.2);
  color:rgb(255, 0, 242);
  font-size: 16px;
  top: 120px;
  left: 0;
  right: 0;
}

.sb-main-padded {
  padding: 0 !important;
}