<template>
  <div
    class="slp-icon"
    :class="classes"
    :style="style"
    role="img"
    aria-hidden="true"
  >
    <div
      v-if="iconGl"
      v-html="require(`@gitlab/svgs/dist/sprite_icons/${iconGl}.svg`)"
    ></div>
    <div
      v-if="iconSlp"
      v-html="require(`../../static/icons/${iconSlp}.svg`)"
    ></div>
  </div>
</template>

<script lang="ts">
export default {
  name: "SlpIcon",
  props: {
    size: {
      type: String,
      default: "sm",
      in: ["xs", "sm", "md", "lg", "xl"],
    },
    color: {
      type: String,
      default: "color-text-300",
    },
    icon: {
      type: String,
    },
    /* deprecated props, held as a fallback */
    name: {
      type: String,
    },
    hexColor: {
      type: String,
    },
    slpColor: {
      type: String,
    },
    variant: {
      type: String,
      in: ["product", "marketing"],
    },
  },
  computed: {
    iconGl() {
      if (this.icon && this.icon.startsWith("gl-")) return this.icon.slice(3);
      return this.name && this.variant === "product" ? this.name : "";
    },
    iconSlp() {
      if (this.icon && this.icon.startsWith("slp-")) return this.icon.slice(4);
      return this.name && this.variant === "marketing" ? this.name : "";
    },
    classes() {
      let classes = [];
      classes.push(`slp-icon--size-${this.size}`);
      if (this.slpColor) classes.push(`slp-icon--color-${this.slpColor}`);
      else if (this.color && !this.color.startsWith("#"))
        classes.push(`slp-icon--color-${this.color}`);

      return classes;
    },
    style() {
      if (this.hexColor) return `color: ${this.hexColor}`;
      return this.color && this.color.startsWith("#")
        ? `color: ${this.color}`
        : "";
    },
  },
};
</script>

<style scoped lang="scss">
@import "src/styles/variables";

@each $color, $value in $color-list {
  .slp-icon--color-#{$color} {
    color: $value;
    fill: $value;
  }
}

.slp-icon {
  &--size-xs {
    width: 12px;
    height: 12px;
  }

  &--size-sm {
    width: 16px;
    height: 16px;
  }

  &--size-md {
    width: 32px;
    height: 32px;
  }

  &--size-lg {
    width: 48px;
    height: 48px;
  }

  &--size-xl {
    width: 72px;
    height: 72px;
  }

  div {
    width: inherit;
    height: inherit;
  }

  &:deep(svg) {
    width: inherit !important;
    height: inherit !important;
    fill: currentColor !important;
  }
}
</style>
