<script lang="js">
export default {
  name: "SlpTooltip",
  props: {
    position: {
      type: String,
      required: true,
      default: "bottom",
      in: ["right", "left", "top", "bottom"],
    },
  },
  computed: {
    className() {
      let classes = [`${this.position}`];
      return classes.join("");
    },
  },
};
</script>
<template>
  <div v-bind="$attrs" :class="`slp-tooltip ${className}`">
    <span><slot></slot></span>
    <div class="triangle"></div>
  </div>
</template>
<style lang="scss" scoped>
@import "src/styles/_variables";

.#{$prefix}-tooltip span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 8px 16px;
  background: #45424d;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter";
}
.#{$prefix}-tooltip .triangle {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 15px solid #45424d;
  transform: rotate(90deg);
}
.right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.left {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  .triangle {
    transform: rotate(270deg);
  }
}
.top {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  .triangle {
    transform: rotate(0deg);
  }
}
.bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  .triangle {
    transform: rotate(180deg);
  }
}
</style>
