<script lang="ts">
import SlpIcon from "../../components/Icon/Icon.vue";

export default {
  name: "AccordionItem",
  props: ["heading", "title", "subtitle", "desc", "isOpen", "index"],

  methods: {
    toggleOpen: function () {
      this.$emit("toggle");
    },
  },
  components: {
    SlpIcon,
  },
};
</script>

<template>
  <div class="item">
    <div class="item__container" v-if="toggleOpen">
      <button
        class="item__title"
        @click="toggleOpen"
        type="button"
        :id="`accordionItem${index}`"
        :aria-expanded="isOpen"
        :aria-controls="`accordionContent${index}`"
        :aria-labelledby="`accordion${index}`"
      >
        <span> {{ title }} </span>
        <SlpIcon
          variant="product"
          class="item__acc_icons"
          :name="[!isOpen ? 'plus' : 'dash']"
        >
        </SlpIcon>
      </button>
      <section
        class="item__content"
        :id="`accordionContent${index}`"
        :aria-labelledby="`accordionItem${index}`"
        role="region"
        v-show="isOpen"
      >
        <p class="item__subtitle">{{ subtitle }}</p>
        <p class="item__desc">{{ desc }}</p>
      </section>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "src/styles/_variables";

.item {
  display: block;
  &__heading {
    font-size: $text-heading-3;
    line-height: $line-height-heading-2;
    font-weight: bold;
    padding: 0;
  }
  button {
    border: none;
    padding: $spacing-16 0;
    display: flex;
    width: 100%;
  }
  &__container {
    align-items: center;
    border-top: 1px solid;
    border-top-color: $color-primary-100;
  }

  &__acc_icons {
    right: 0;
    position: absolute;
  }

  &__title {
    position: relative;
    cursor: pointer;
    font-size: $text-heading-5;
    line-height: $line-height-heading-5;
    text-align: left;
    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    padding-bottom: $spacing-16;
  }

  &__subtitle {
    padding-top: $spacing-8;
    padding-bottom: $spacing-8;
    font-weight: bold;
  }
}
</style>
